<div class="background">
  <div class="d-flex justify-content-between align-item-center">
    <%= link_to root_path do %>
      <i class="material-icons material-symbols-sharp" style="font-size: 40px; vertical-align: middle; margin-left: 35px; transform: translateY(30px);">west</i>
    <% end %>
    <%= link_to edit_vinyl_path(@vinyl) do %>
      <i class="material-icons material-symbols-sharp" style="font-size: 36px; vertical-align: middle; transform: translateY(30px) translateX(-30px);">edit</i>
      <% end %>
  </div>
    <div class="vinyl-container">
      <%= cl_image_tag(@vinyl.photo.key, class:"vinyl-picture") if @vinyl.photo.attached? %>
      <div class="text-vinyl position-relative">
        <div class="paragraph-div"><%= @vinyl.title%></div>
          <h3><%= @vinyl.artist %></h3>
          <p class="paragraphe-margin"><%= @vinyl.genre %> | <%= @vinyl.release_year %></p>
      </div>
    </div>
<%= link_to "Supprimer le vinyle", vinyl_path(@vinyl), data: { turbo_method: :delete, turbo_confirm: "Etes-vous sûr?" }, class: "button button-orange-border" %>
    </div>
</div>
